body
{
    color: red;
text-align: center;
font-family:Arial, Helvetica, sans-serif ;
}
#cabecera
{
background:#33a;
box-shadow: 0px 5px 30px 0px rgba(0,0,0,0,5);
color:blue;
margin: 0;
padding: 0,sem;

}


#container
{
    width: 70%;
    padding: 1em;
    text-align:left ;
    border:1px blanchedalmond #DDD;
    margin: 0 auto;
}
#contaainer h1
{
    font-size: 20px;
}